
body {
    background-color: #F5F5F1;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}



 .navbar-brand {
    font-family: quardian-egypt, georgia, serif;
    font-weight: 400;
    color: 	#808080;
    font-size: 40px;
}

.navbar .navbar-nav >li >a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0192B5;
}

.center {
    text-align: center;
}

.col-md-3:nth-child(4n+1) {
    clear: left;
}